<h2><a href="/pokemon">All the Pokemon</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon CP: <%= @pokemon.cp %></p>
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
  <p><img src="<%= @pokemon.img_url %>" alt="A Pokemon"</p>
</div>
