<h2>All Trainers</h2>
<% @trainers.each do |trainer|%>
  <p class="trainer">
    <a href="/trainers/<%= trainer.id %>"><%= trainer.name %></a>
  </p>
  <p><img src="<%= trainer.img_url %>" alt="A Trainer"</p>
<% end %>

<div>
  <a href='/trainers/new'>Add Trainer</a>
</div>
