<h2><a href="/trainers">All Trainers</a></h2>
<div class="trainer">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Trainer Level: <%= @trainer.level %></p>
  <p><img src="<%= @trainer.img_url %>" alt="A Trainer"></p>
</div>
